/classes/
/.classpath
/.project
/lib/
/logs/
/data/
*.jar
*.class
/java.hprof.txt
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.out
*.xdy
*.ist
*syntex*
/.externalToolBuilders/
/.settings/
/.README.md.html
/clj.bat
/2010-08-16-13-41-12-NEX-5.jpg
/wahpenayo-2012.jpg
/wahpenayo.jpg
/tst/
/.idea/modules.xml
/.idea/zana.iml
